
/*Área responsável pela listagem dos itens do cardápio*/
.lista-area {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul li {
    border: 4px solid #000;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 8px;
    font-size: 24px;
}

/*icone do cardapio, imagem que aparece no cardapio*/
.iconeCardapio {
    border: 2px solid #000;
    width: 230px;
    height: 300px;
    border-radius: 20px;
}