* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

            #form_login {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100vh;
                margin: 0;
                font-family: Arial, sans-serif;
                background: white;
                padding: 30px;
                width: 350px;       /* Aumenta o tamanho */
                border-radius: 10px;
                box-shadow: 0 0 12px rgba(0,0,0,0.15);
                gap: 15px;
            }

            #form_login label {
                font-weight: bold;
                font-size: 14px;
            }

            #form_login input {
                padding: 12px;
                font-size: 15px;
                border: 1px solid #ccc;
                border-radius: 6px;
            }

            #form_login button {
                padding: 12px;
                font-size: 16px;
                border: none;
                border-radius: 6px;
                background: #0066ff;
                color: white;
                cursor: pointer;
                transition: 0.2s;
            }

            #form_login button:hover {
                background: #004bcc;
            }

.wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: aliceblue;
    padding: 24px;
    border-radius: 12px;
    position: relative;
}

.modal .close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    cursor: pointer;
}

.toastify {
    position: absolute;
    top: -100px;
    left: 40%;
    padding: 24px;
    background: #ff0000;
    animation: open 5s ease;
    /* opacity: 0; */
}

.sucesso {
    background-color: green;
}

.erro {
    background-color: red;
}

.toastify p {
    color: #fff;
}

@keyframes open {
    0% {
        top: -100px;
    }

    50% {
        top: 0;
    }

    100% {
        top: -100px;
    }
}