* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* :root {
    --primary-color: #ffdc99;
}

body {
    background: var(--primary-color);
} */

.wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: aliceblue;
    padding: 24px;
    border-radius: 12px;
    position: relative;
}

.modal .close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    cursor: pointer;
}

.sucesso {
    background-color: green;
}

.erro {
    background-color: red;
}