ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul li {
    border: 1px solid #000;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.botoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

btnExcluir {
    border-radius: 8px;
    font-size: 24px;
}
btnEditar {
    border-radius: 8px;
    font-size: 24px;
}