/* ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul li {
    border: 3px solid #000;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
} */

/* .botoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 8px;
    font-size: 24px;
} */

/* .botoes button:nth-child(1) {
    background-color: #e67e22;
    color: white;
}

.botoes button:nth-child(2) {
    background-color: #db3434;
    color: white;
} */
