h2 {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul li {
    border: 1px solid #000;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}