/* =======================
   ESTILO GLOBAL
======================= */
/* body {
    color: #442631;
    display: flex;
    flex-direction: row;
} */
/*Ana - já consta um body global para todos*/

/* =======================
   ÁREA SUPERIOR
======================= */
.top-area {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 20px;
}


/* CAMPO DE BUSCA */
#search {
    flex: 1;
    padding: 12px 18px;
    border-radius: 12px;
    border: 2px solid #ff6b86;
    background: rgba(255, 105, 130, 0.12);
    color: #442631;
    font-size: 16px;
}

#search:focus {
    box-shadow: 0 0 10px rgba(255, 105, 130, 0.35);
}


/* =======================
   CONTAINER
======================= */
.container {
    width: 100%;
    padding: 30px;
    border-radius: 18px;
    background: rgba(255, 105, 130, 0.09);
    border: 2px solid #ff6b86;
    box-shadow: 0 0 8px rgba(255, 105, 130, 0.35);
    transform-origin: top center;
}

h2 {
    margin-bottom: 20px;
    color: #c44;
}


/* =======================
   LISTA
======================= */
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
    border-bottom: 1.6px solid rgba(255, 105, 130, 0.4);
}

li p {
    margin: 0 10px;
    flex: 1;
}


/* BOTÕES DA LISTA */
button[id$="edit"] {
    background: rgba(255, 206, 160, 0.25);
    border: 2px solid #ff6b86;
    padding: 8px 16px;
    border-radius: 12px;
    color: #442631;
    font-weight: 600;
}

button[id$="edit"]:hover {
    background: rgba(255, 206, 160, 0.4);
}

button[id$="delete"] {
    background: rgba(255, 0, 60, 0.15);
    border: 2px solid #ff6b86;
    padding: 8px 16px;
    border-radius: 12px;
    color: #442631;
    font-weight: 600;
}

button[id$="delete"]:hover {
    background: rgba(255, 0, 60, 0.3);
}


/* =======================
   MODAL
======================= */

.modal {
    width: 380px;
    border-radius: 18px;
    border: 2px solid #ff6b86;
    box-shadow: 0 0 14px rgba(255, 105, 130, 0.4);
    color: #442631;
}

.modal .close  {
    background: rgba(255, 105, 130, 0.15);
    border-color: #ff6b86;
    width: 32px;
    height: 32px;
    color: #442631;
}

.close:hover {
    background: rgba(255, 105, 130, 0.3);
}