.numeroMesa {
    font-size: 110px;
    font-weight: bold;
}

.mesa-disponivel {
    background: #6fda44;
}

.mesa-ocupada {
    background: #ff5c5c;
}

.mesa-reservada {
    background: #ffb84d;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul li {
    border: 1px solid #000;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}