.numeroMesa {
    font-size: 110px;
    font-weight: bold;
}

.mesa-disponivel {
    background: #6fda44;
}

.mesa-ocupada {
    background: #ff5c5c;
}

.mesa-reservada {
    background: #ffb84d;
}

h2 {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

ul li {
    border: 1px solid #000;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 8px;
    font-size: 24px;
}
.botoes button:nth-child(1) { /*botão de editar*/
    background-color: #e67e22;
    color: white;
}

.botoes button:nth-child(2) { /*botão de excluir*/
    background-color: #db3434;
    color: white;
}

.numeroMesa {
    border: 5px solid;
    border-radius: 40px;
    padding: 35px;
}